0 * * * * /usr/bin/feh --bg-max --randomize /home/rixx/lib/pics/wallpapers/unprocessed/*
# Move files older than an hour to appropriate subdir in ~/tmp/downloads
1 * * * * /usr/bin/find /home/rixx/tmp/downloads -maxdepth 1 -type f -mmin +60 -exec /home/rixx/.config/dotfiles/bin/extsort {} \;
20 20 * * * BORG_PASSPHRASE="REDACTED" /home/rixx/.config/dotfiles/scripts/backup.sh
21 21 * * * sudo /usr/bin/updatedb
