@define-color clr-background #fdf6e3;
@define-color clr-text #333333;
@define-color clr-red #990000;
@define-color clr-orange #c18401;
@define-color clr-turquoise #007171;

* {
    font-family: FontAwesome, Kelmscott Mono, Iosevka, sans-serif;
    font-size: 18px;
}

window#waybar {
    background-color: transparent;
    color: @clr-text;
    transition-property: background-color;
    transition-duration: .3s;
    margin: 5px;
}

button {
    box-shadow: inset 0 -3px transparent;
    border-radius: 0;
}

#workspaces button, #mode {
    background: @background-color;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.4em 0.8em;
    margin: 0.4em 0.2em 0 0.2em;
    min-width: 2em;
    border: 4px double @clr-text;
}
#workspaces button.focused {
    border-color: @clr-turquoise;
}
#workspaces button.urgent {
    color: @clr-red;
    border-color: @clr-red;
}
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.1);
}

#mode {
    border-color: @clr-red;
    color: @clr-turquoise;
    font-size: 18px;
    font-weight: normal;
}

.modules-right .module {
    padding: 0 10px;
    color: @clr-text;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
#custom-notification {
  font-family: "NotoSansMono Nerd Font";
}
