[Unit]
Description=Start offlineimap as a daemon
After=network.target

[Service]
ExecStart=/usr/bin/offlineimap
KillSignal=SIGUSR2
Restart=always
# restart after 12 hours to avoid memleaking all over the place
# RuntimeMaxSec=43200

[Install]
WantedBy=multi-user.target
