[Unit]
Description=Daily luggage borg compact

[Timer]
OnCalendar=*-*-* 12:00:00
Persistent=true
RandomizedDelaySec=15m

[Install]
WantedBy=timers.target
