/* don't display tooltips on hover */
#aHTMLTooltip,
#remoteBrowserTooltip {
  display: none !important
}

/* Add private browsing indicator per tab */
tab-item.private-browsing tab-label:before {
  content: "🕶";
}
/* different color */
tab-item tab-item-substance {
  background-color: #ffffff70 !important;
}
tab-item {
  border: solid 1px #00000010; 
}
tab-item:hover tab-item-substance {
  background-color: #00000001 !important;
}
tab-item.active tab-item-substance {
  background-color: #99c6e490 !important
}

/* add gap between favicon and text */
tab-item .label-content {
  margin-left: 4px;
}

/* make unloaded tabs favicons fairly transparent */
tab-item.discarded tab-favicon {
  opacity: 0.5 !important;
}

/* hide favicon on new tabs */
tab-item:not(.loading):-moz-any([data-current-uri="about:newtab"], [data-current-uri="about:home"], [data-current-uri="about:blank"]) tab-favicon {
  visibility: hidden;
}

/* only show "close tab" button on hover */
#tabbar tab-item tab-item-substance:not(:hover) tab-closebox {
  display: none;
}

/* move "new tab" button to the bottom */
#tabbar:not(.overflow) .after-tabs {
  margin-top: auto;
}
tab-item:last-of-type {
  margin-bottom: 0;
}
.newtab-button {
  border-top: 2px solid #00000011 !important;
}
