#urlbar,
#searchbar {
    border: none !important;
    padding: 6px 16px;
    height: 40px;
}
#urlbar[breakout] {
  margin-top: -6px;
}

#fxa-toolbar-menu-button,
#identity-box,
#pocket-button-box,
#star-button-box,
#tracking-protection-icon-container {
    display: none !important;
}

#page-action-buttons>*,
.urlbar-history-dropmarker {
    opacity: 0 !important;
}

#urlbar:hover #page-action-buttons>*,
#urlbar:hover .urlbar-history-dropmarker {
    opacity: 1 !important;
}


toolbaritem:not(#urlbar-container), toolbarbutton,
.toolbarbutton-animatable-box, .toolbarbutton-1 {
  opacity: 0.7 !important;
  fill-opacity: 0.7 !important;
  filter: grayscale(1) !important;
}

.sidebar-splitter {
    border: none !important;
}   
    
.customization-target {
    padding: 6px !important;   
}
