#urlbar,
#searchbar {
    border: none !important;
    padding: 6px 16px;
    height: 40px;
}
#urlbar[breakout] {
  margin-top: -6px;
}

#fxa-toolbar-menu-button,
#identity-box,
#pocket-button-box,
#star-button-box,
#tracking-protection-icon-container {
    display: none !important;
}

#page-action-buttons>*,
.urlbar-history-dropmarker {
    opacity: 0 !important;
}

#urlbar:hover #page-action-buttons>*,
#urlbar:hover .urlbar-history-dropmarker {
    opacity: 1 !important;
}


toolbaritem:not(#urlbar-container), toolbarbutton,
.toolbarbutton-animatable-box, .toolbarbutton-1 {
  opacity: 0.7 !important;
  fill-opacity: 0.7 !important;
  filter: grayscale(1) !important;
}

.sidebar-splitter {
    border: none !important;
}

.customization-target {
    padding: 6px !important;
}

/* userChrome things for TreeStyle Tabs */
#main-window #TabsToolbar {
    opacity: 0;
    max-height: 0px;
    pointer-events: none;
    background-color: white;
}
#sidebar-header {
  display: none;
}

/* remove the awkward top padding */
#toolbar-menubar.customization-target[autohide="true"][inactive]:not([customizing]) {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
